/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para o cabeçalho */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

h1 {
    text-align: center;
}

nav ul li{
    list-style: none;
    padding: 0;
    display: inline;
    margin-right: 20px;
}


nav ul a {
    color: white;
    text-decoration: none;
}

img {
    display: block;
    margin: 0 auto;
    width: 20%;
}

#sobre {
    
    margin: 30px auto;
    max-width: 800px;
}


/* Estilos para o conteúdo principal */
main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

#contato{
    text-align: center;
    margin: 30px auto;
    max-width: 800px;
    
}

li{
    list-style: none;
}

#servicos, #fundadora, #agenda{
    margin: 30px auto;
    max-width: 800px;
}

.timeline {
    list-style: none;
    padding: 20px;
}

.timeline-item {
    position: relative;
    padding: 20px;
    border-left: 2px solid #ccc;
    margin: 20px 0;
    background-color: #f9f9f9;
}

.timeline-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    border: 2px solid #fff;
}

.timeline-item:nth-child(even) {
    border-left: 2px solid #007bff;
    background-color: #e9f5ff;
}

.timeline-item:nth-child(even)::after {
    background-color: #007bff;
}

.timeline-item h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
}

.timeline-item p {
    margin-top: 0;
    color: #555;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #555;
}

/* Estilos para o rodapé */

footer {
    width: 100%;
    padding: 30px;
    bottom: 0px;
    justify-content: center;
    align-items: center;
    background: #333;
    color: #ffffff;
    box-sizing: border-box;
}